h1,ol,ul,dl{
    margin: 20px;
}

ol,dl,ul{
    border:2px solid blue;
    border-spacing:0;
    width: 500px;
    
    
}
ol.none{
  list-style:none;
  
}

ol.doublelist {
    counter-reset: count -1;
}

ol.doublelist li {
    counter-increment: count 2;
}

ol.doublelist li::marker {
    content: counter(count, decimal) ') ';
}



dl{
    color:blueviolet;
}

ul{
    list-style:circled-alpha;
}


@counter-style circled-alpha {
    system: fixed;
    symbols: Ⓐ Ⓑ Ⓒ Ⓓ Ⓔ Ⓕ Ⓖ Ⓗ Ⓘ Ⓙ Ⓚ Ⓛ Ⓜ Ⓝ Ⓞ Ⓟ Ⓠ Ⓡ Ⓢ Ⓣ Ⓤ Ⓥ Ⓦ Ⓧ Ⓨ Ⓩ ;
    suffix: " ";
  }






body{
  
   background-color:  #DEFF9C;
  
}