h1{
    margin: 20px;
}
h1{
    color:red;
}

p
{
   background-color:#304408;
   font-family:'Courier New',Courier, monospace;
   font-size:2em;
   border: 5px solid white;
   border-radius: 25px;
   text-align: center;
   color: white;
   width:150px;
   padding:10px;
}

p:hover
{
    border: 3px solid lightblue;
    color: blue;
   
    
}
polygon:focus
{
  
    background-color:darkblue;
   
   
}

span{
    /*position: relative;*/
    content: 'Default';
}


p:focus span{
     display:none;
}

p:focus p:after{
    content: 'Focus';
}

p:hover span{
    display:none;
}

p:hover p:after{
   content: 'Hover';
}




body{
   background-color:  lightgreen;
  
}