h1,div{
    margin: 20px;
}
h1{
    color:red;
}

div
{
   background-color:#304408;
   font-family:'Courier New',Courier, monospace;
   font-size:2em;
   border: 5px solid white;
   border-radius: 25px;
   text-align: center;
   color: white;
   width:150px;
   padding:10px;
}

div:hover,div:focus
{
    border: 3px solid lightblue;
    color: red;
   
    
}


div p {
    position: relative;
    content: 'Default';
}


div:focus p {
     display:none;
}

div:focus p::after{
    content: 'Focus';
}

div:hover p {
    display:none;
}

div:hover p::after{
   content: 'Hover';
}




body{
   background-color:  lightgreen;
  
}