h1{
    margin: 20px;
}
h1{
    color:red;
}

p
{
   background-color:#304408;
   font-family:'Courier New',Courier, monospace;
   font-size:2em;
   border: 5px solid white;
   border-radius: 25px;
   text-align: center;
   color: white;
   width:150px;
   padding:10px;
}

div:hover,div:focus
{
    border: 3px solid lightblue;
    color: red;
   
    
}


div p span{
    position: relative;
    content: 'Default';
}


div:focus p span{
     display:none;
}

div:focus p:after{
    content: 'Focus';
}

div:hover p span{
    display:none;
}

div:hover p:after{
   content: 'Hover';
}




body{
   background-color:  lightgreen;
  
}