h1,input{
    margin: 20px;
}

label{
     width: 100px;
     color: blue;
     display: inline-block;
     margin: 10px;
     font-size: 1.2em;
   

}
label.cr{
  margin-right:1px;
}

fieldset{
    width:400px;
}
legend
{
    color:blueviolet;
    background-color: antiquewhite;
    width: 200px;
}
input{
    background-color:  white;
    width:200px;
    
}
input[type='radio'],input[type='checkbox']{
    
    width:20px;
    
}

input.button{
  width: 100px;
  
}


select>option{
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}


body{
  
   background-color:  #DEFF9C;
  
}