h1,input{
    margin: 20px;
}

label{
     width: 100px;
     color: blue;
     display: inline-block;
     margin: 30px;

}

input{
    background-color:  white;
    display: inline-block;
    width:200px;
}

input.button{
  width: 100px;
  
}





body{
  
   background-color:  #DEFF9C;
  
}