h1{
    margin: 10px;
}
h2{
    margin: 0px;
}
ol,dl,ul{
    border:2px solid blue;
    width: 500px;
    margin: 0px;
    
    
}
ol.none{
  list-style:none;
  
}
ol.romanlist{
    list-style:upper-roman inside;
}





dl{
    color:blueviolet;
    font-style: italic;
    background-color: white;  
}

ul{
    list-style:square;
}




body{
  
   background-color:  #DEFF9C;
  
}