h1,table{
    margin: 20px;
}

table{
    border:2px solid blue;
    border-spacing:0;
    width: 500px;
    height:300px;
    box-shadow: 5px 5px;
}
caption
{
    font-style: italic;
}
th{
    font:bold,1.4em,Courier,monospace;
    color:red;
    text-align:center;
    border-right:1px solid green;
}
tfoot
{
    color:darkblue;
    font:bold,Helvetica,sans-serif;
}

td{
    font:Helvetica,sans-serif;
    border-top:1px solid green;
    border-right:1px solid green;
    text-align:center;
}

body{
   background-color:  #DEFF9C;
  
}