a,h1{
    margin: 20px;
}
a{
   
   font-family:'Courier New',Courier, monospace; 
   font-size:1.2em;
   border: 1px solid rgba(27, 26, 26, 0.123);
   border-radius: 10px;
   text-align: center;
   color:blue;
   font-weight: bold;
   width:250px;
   padding:5px;
   padding-top:15px;
   background-color: #abaca9;
   height: 50px;
   display: block;
  
}
a:hover
{
    background-color: #41413f;
}
 .ett{
    border-left:10px ridge;
    border-left-color:red ;

 }
 .tva{
    border-left-color:yellow ;
    border-left:10px ridge;
 } 
 .tre{
    border-left:10px ridge;
    border-left-color:blue ;
 } 
 .fyra{
    border-left:10px ridge;
    border-left-color:green ;
 }

body{

   background-color:  #83c00a;
  
}