h1,div{
    margin: 20px;
}
h1{
    color:red;
}

div
{
   background-color:#304408;
   font-family:'Courier New',Courier, monospace;
   font-size:2em;
   border: 5px solid white;
   border-radius: 25px;
   text-align: center;
   color: white;
   width:150px;
   padding:10px;
}

div:hover
{
    border: 3px solid lightblue;
    color: blue;
    display:none;
    
}
div:focus
{
  
    background-color:darkblue;
    display:none;
   
}
div:hover:after{
    content: 'Hover';
}

div:focus:after{
    content: 'Active';
}



body{
   background-color:  #304408;
  
}