h1,div{
    margin: 20px;
}

div
{
   background-color:#304408;
   font-family:'Courier New',Courier, monospace;
   font-size:1em;
   border: 3px solid white;
   border-radius: 50px 20px;
   text-align: center;
   color: white;
   width:100px;
}

div:hover
{
    border: 3px solid lightblue;
    color: blue;
    content: 'Hover';
}

div:active
{
  
    background-color:darkblue;
    content: 'Active';
}

body{
   background-color:  #304408;
  
}