a,h1,h2,div{
    margin: 20px;
    font-family:'Courier New',Courier, monospace;
 
}
div{
    background-color:#FDC168 ;
    float: left;
}



a{
   
    font-family:'Courier New',Courier, monospace; 
    border: 1px solid #975B02;
    border-radius: 10px;
    text-align: center;
    color:#975B02;
    font-weight: bold;
    padding:5px;
    padding-top:10px;
    display: block;
    outline:none;
    text-decoration: none;
   
 }


body{
   background-color:  #FFF1DC;
   padding: 20px;
  
}