div{
    background-image: linear-gradient(#DDE3FD,#798EF6) ;
    box-shadow: 5px 5px black;  
    padding: 10px;
    margin:  30px; 
}
span{
font-weight: bold;
}


.third{
    font-family:'Times New Roman', Times, serif;
  
}
.second
{
    font-family: 'Courier New', Courier, monospace;
 
}
.first
{
    
    font-family:Arial, Helvetica, sans-serif;
   
    
}
div.fourth
{
    
    font-family:Arial, Helvetica, sans-serif;
    height: 100px;
    
}

.ett
{
    font-size: 0.5em;
}
.tva
{
    font-size: 1em;
}
.tre
{
    font-size: 1.5em;
}
.fyra
{
    font-size: 2em;
}


body{
    background-color: #DDE3FD;
  
    width: 400px;
    height: 400px;
}