@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Great+Vibes&family=VT323&display=swap');

div{
    background-image: linear-gradient(#DEE9FC,#6395F2) ;
    box-shadow: 5px 5px black;  
    padding: 10px;
    margin:  30px; 
}
span{
font-size:2em;
}


div.third{

    font-family: 'VT323', monospace; 
    
 

}
div.second
{
 
     font-family: 'Great Vibes', cursive;
  
    
}
div.first
{
    font-family: 'Cabin Sketch', cursive;
   
   
}

.ett{
 text-shadow: 4px 4px 4px #666666;
}
.tva
{
    color: green;
   text-shadow: 1px 1px 2px black,0 0 20px blue,0 0 7px darkblue;
}
.tre{
color: coral;
    text-shadow: 0 0 10px #00ff00;
}

body{
    background-color: #DEE9FC;
    width: 400px;
   
}