@font-face {
    font-family:myMayestica;
    src: url(Mayesticaotf.otf);
}

@font-face {
    font-family:myRistretto;
    src: url(Ristretto.woff);
}
  
h2 {
    color: darkgreen;
}
div{
    background-image: linear-gradient(#F1F8E2,#C0DF81) ;
    box-shadow: 5px 5px black;  
    padding: 10px;
    margin:  30px; 
}




.second
{
    font-family:myMayestica,serif;
    font-size:1.8em;
    
 
}
.first
{
    font-family:myRistretto,sans-serif;
    font-size:1.3em;
   
    
}
body{
    background-color:  #F1F8E2;
  
    width: 600px;
    
}

